language: node_js
node_js:
- 8.9.4
after_script:
- echo "-after  start-----------------------------------"
- scp -r -o StrictHostKeyChecking=no ./models 139.199.72.81:/root/app
before_install:
- openssl aes-256-cbc -K $encrypted_03f93fd6aa16_key -iv $encrypted_03f93fd6aa16_iv
  -in lihai_key.enc -out ~/.ssh/lihai_key -d
- echo "-start-----------------------------------"
- chmod 600 ~/.ssh/lihai_key
- eval $(ssh-agent)
- ssh-add ~/.ssh/lihai_key
- cp .travis/config ~/.ssh/config
- chmod 600 ~/.ssh/config
- echo "-end-----------------------------------"
